################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Marco.Newtonsoft.Json/obj
/src/.vs/MarcoNewtonsoftJson/v15
